a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}
body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
}
.header_style{
    margin: 0 auto;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px lightgray;
    font-size: 84%;
}
.container-fluid{
    margin: 0 auto;
    height: auto;
    width: 100%;
    color: black;
    font-size: 20px;
    text-align: justify;
}
.footer_style{
    height: 28px;
    border-top: solid 1px lightgray;
    font-size: 10px;
    padding-top: 5px;
    text-align: center;
    color: black;
    background-color: rgb(236, 236, 236);
}
.small_text{
    font-size: 14px;
    color: black;
}
.qoted{
    border: solid 1px black;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}